* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100vw;
}

.row {
  width: 90vw;
  margin:auto;
}



/* COMMON */
.inline {
  display: inline-block;
}

.flex {
  display: flex;
}

.content-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.list-unstyled {
  list-style: none;
}

.content-start {
  justify-content: flex-start;
}

.content-end {
  justify-content: flex-end;
}

.word-bg {
  color: #0d7e7e;
  background-color: rgba(57, 196, 198, .2);
  padding: 10px;
  border-radius: 3px;
}

.grey {
  color: #706c68;
  font-weight: lighter;
}

.blue {
  color: #24333d;
}

.primary-btn {
  background-color: #0d7e7e;
  border: none;
  padding: 10px;
  font-size: 15px;
  color: #d4d7d1;
  border-radius: 3px;
  width: 130px;
}

.empty-btn {
  border: 1px solid #248a8a;
  background-color: transparent;
  padding: 10px;
  font-size: 15px;
  color: #d4d7d1;
  border-radius: 3px;
  width: 130px;
  text-transform: uppercase;
}



/* NAVBAR */
.nav.container {
  background-color: #24333d;
  color: #c0c3d0;
  height: 3rem;
  font-weight: lighter;
}

/* lato sx */
.col-sx {
  width: 50%;
}

.col-sx > i {
  margin-right: 5px;
}

/* lato dx */
.col-dx {
  width: 50%;
}

.nav.row .col-dx {
  justify-content: flex-end;
}

.social li {
  display: inline-block;
  margin-left: 20px;
}

.social li a {
  text-decoration: none;
  color: #c0c3d0;
}

.social li a i {
  font-size: 15px;
}



/* HERO */
.hero.container {
  background-image: url(../images/hero-image.png);
  opacity: 0.9;
  height: 600px;
  background-size: cover;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero.row {
  height: 10%;
  position: relative;
  z-index: 5;
}

/* sx */
.nex {
  color: #39c4c6;
  padding: 10px;
  background-color: rgba(57, 196, 198, .2);
  border-radius: 20px 0 0 20px;
  /* opacity: 0.5; */
}

.gen {
  color: #e3e7df;
}

.hero-nav-left {
  width: 40%;
}

/* dx */
.hero-nav-right {
  width: 60%;
  font-weight: lighter;
}

.hero-nav-right ul li {
  margin-left: 25px;
  position: relative;
}

.hero-nav-right ul li a {
  text-decoration: none;
  color: #e5e9e2;
}

.hero-nav-right ul li a i {
  margin-left: 5px;
}

.dropdown {
  background-color: white;
  position: absolute;
  display: none;
  top: 20px;
  border-radius: 3px;
  text-transform: uppercase;
  color: black;
}

.active {
  display:block;
}

.dropdown ul li {
  list-style: none;
  padding: 10px;
}


/* HERO BOX */
.row .type {
  position: absolute;
  width: 50%;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.type h1 {
  font-size: 55px;
  color: white;
}

.type p {
  color: #c0c3d0;
  margin-top: 30px;
  margin-bottom: 30px;
}

.type button {
  margin-left: 20px;
}



/* BOXES UTILITIES */
.boxes.container {
  height: 400px;
  background-color: #e3e7df;
}

.case {
  background-color: #ffffff;
  width: 350px;
  margin: 20px;
  display: inline-block;
  transition: 0.3s;
  border-radius: 5px;
}

.case:hover {
  transform: scale(1.1);
}

.case > * {
  padding: 25px;
}

.case div i {
  color: #0d7e7e;
  font-size: 2rem;
  background-color: rgba(57, 196, 198, .2);
  padding: 10px;
  border-radius: 50px;
}

.case div h3 {
  color: #24333d;
  margin-top: 20px;
}

.case div p {
  color: #706c68;
  font-weight: lighter;
  margin-top: 20px;
}



/* ABOUT */
.history.container {
  background-color: #ffffff;
}

/* sx */
.info.left {
  width: 50%;
  padding-left: 3%;
  padding-top: 8%;
}

.info.left h3:first-child {
  color: #038483;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 5%;
}

.info.left h1 {
  margin-bottom: 5%;
  color: #24333d;
}

.history-boxes {
  padding-top: 10%;
}

.history-boxes:last-child {
  margin-bottom: 50px;
}

.history-box {
  width: 40%;
}

.history-box h4 {
  margin-bottom: 10px;
  color: #24333d;
  font-size: 20px;
}

/* dx */
.image.right {
  width: 50%;
  position: relative;
}

.image.right img {
  position: absolute;
  width: 100%;
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
}



/* SERVICES */
.services.container {
  background-color: #121117;
  height: 850px;
  position: relative;
}

.services.container .row {
  margin-top: 50px;
  position: absolute;
  left: 5vw;
}

.paragraph {
  color: white;
}

.paragraph h3 {
  color: #038483;
  text-transform: uppercase;
  font-weight: 400;
}

.paragraph h1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.description p {
  width: 95%;
}

.description .empty-btn {
  width: 90px;
}

.boxes {
  flex-wrap: wrap;
}

.box {
  color: white;
  flex-basis: 30%;
  background-color: #1e2223;
  padding: 30px;
  border-radius: 5px;
  margin-top: 30px;
  transition: 0.3s;
}

.box:hover {
  transform: scale(1.1);
}

.box i {
  font-size: 30px;
  color: #038483;
}

.box h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.box .empty-btn {
  margin-top: 20px;
}

.boxes .first-row,
.boxes .second-row {
  justify-content: space-between;
}



/* PRODUCTS */
.container.pricing-table {
  background-color: #e3e7df;
}

.pricing-table .row .intro {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
}

.product.boxes {
  justify-content: space-between;
  padding-bottom: 70px;
}

.intro h4 {
  color: #038483;
  text-transform: uppercase;
  font-weight: 400;
  padding: 10px;
}

.intro h1 {
  color: #24333d;
  padding: 10px;
}

.intro p {
  padding: 15px;
}

.product.boxes .box {
  background-color: #ffffff;
  position: relative;
}

.box .offer {
  text-align: center;

}

.popular-label {
  background-color: #038483;
  position: absolute;
  left: 0;
  font-size: 10px;
  padding: 10px;
  font-weight: 300;
  border-radius: 0 20px 20px 0;
}

.offer i {
  margin-bottom: 20px;
}

.offer h2 {
  font-size: 30px;
}

.offer h3 {
  color: #038483;
  font-size: 30px;
}

.offer h3 span {
  font-weight: 300;
  font-size: 20px;
}

.box ul {
  list-style: none;
}

.box ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.box ul li i {
  font-size: 16px;
}

/* EDITORIAL */
.editorial.container {
  background-color: #ffffff;
}

.editorial.container .row .intro p {
  width: 90%;
}

.intro h1 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.editorial.container .row .intro .primary-btn {
  width: 90px;
}




/* NEWSLETTER */
.newsletter.container {
  background-image: url(../images/bg-1.jpg);
  background-size: cover;
}

.call-to-action {
  padding: 100px;
}

.call-to-action h4 {
  color: #038483;
  text-transform: uppercase;
  font-weight: 400;
}

.call-to-action h1 span,
.call-to-action h1  {
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

.form input {
  width: 100%;
  border-radius: 3px;
  border: none;
  padding: 10px;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, .6);
}


/* QUOTE */
.quote.container .sending {
  width: 60%;
  background-color: #ffffff;
  padding: 50px;
}

.form {
  width: 100%;
  flex-flow: column;

}

.sending .form input {
  width: 100%;
  border-radius: 3px;
  border: none;
  padding: 10px;
  margin-bottom: 30px;
  background-color: rgba(120, 120, 120, .6);

}

.form .input input {
  width: 80%;
  justify-content: space-between;
}

.sending form .primary-btn {
  width: 90px;
}

.all.contacts {
  width: 40%;
  padding: 40px;
}

.all.contacts div > * {
  margin-top: 20px;
  margin-bottom: 20px;
}

.contacts div a {
  text-decoration: none;
  color: #0d7e7e;
}

.contacts div a i {
  font-size: 20px;
  border-radius: 50px;
  margin-right: 5px;
}

.contacts button {
  color: #0d7e7e;
}

/* FOOTER */
footer {
  background-color: #121117;
  color: white;
  padding: 30px;
}

.footer .contacts > * {
  margin-top: 20px;
  margin-bottom: 20px;
}

.contacts {
  width: 30%;
}

.contacts > p {
  width: 100%;
}

.contact > * {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer.boxes {
  width: 60%;
}

.footer.boxes > .box {
  width: 250px;
  margin-left: 20px;
}
